<div class="projects-container">
    <a href="https://nikeshop-hmyn14xth-estebanh0207-gmailcoms-projects.vercel.app/"><app-three-dcard>
        <div front>
          <!-- Contenu face avant -->
          <img src="/Nike.png" alt="">
          <p>Nike Shop</p>
        </div>
      </app-three-dcard></a>
      <a href="https://mac-os-portfolio-5ybrl6ztv-estebanh0207-gmailcoms-projects.vercel.app/"><app-three-dcard>
        <div front>
            <img src="/macOs.png" alt="">
            <p>MacOs Portfolio</p>
        </div>
      </app-three-dcard></a>
      <a href="https://cookie-cliker-copie-l7wjho3e0-estebanh0207-gmailcoms-projects.vercel.app/"><app-three-dcard>
        <div front>
            <img src="/Cliker.png" alt="">
            <p>Cookie Coliker</p>
        </div>
      </app-three-dcard></a>
      <a href="https://e-museum-digrn3xwv-estebanh0207-gmailcoms-projects.vercel.app/"><app-three-dcard>
        <div front>
            <img src="/E-Museum.png" alt="">
            <p>E-museum</p>
        </div>
      </app-three-dcard></a>
</div>
  