<div class="projects-container">
    <a href="https://nikeshop-neon.vercel.app/" target="_blank"><app-three-dcard>
        <div front>
          <img src="/Nike.png" alt="">
          <p>Nike Shop</p>
        </div>
      </app-three-dcard></a>
      <a href="https://mac-os-portfolio-pi.vercel.app/" target="_blank"><app-three-dcard>
        <div front>
            <img src="/macOs.png" alt="">
            <p>MacOs Portfolio</p>
        </div>
      </app-three-dcard></a>
      <a href="https://cookie-cliker-copie.vercel.app/" target="_blank"><app-three-dcard>
        <div front>
            <img src="/Cliker.png" alt="">
            <p>Cookie Coliker</p>
        </div>
      </app-three-dcard></a>
      <a href="https://e-museum-bay.vercel.app/" target="_blank"><app-three-dcard>
        <div front>
            <img src="/E-Museum.png" alt="">
            <p>E-museum</p>
        </div>
      </app-three-dcard></a>
</div>
  