<div class="projects-container">
    <app-three-dcard>
        <div front>
          <!-- Contenu face avant -->
          <img src="/Nike.png" alt="">
          <p>Nike Shop</p>
        </div>
      </app-three-dcard>
      <app-three-dcard>
        <div front>
            <img src="/macOs.png" alt="">
            <p>MacOs Portfolio</p>
        </div>
      </app-three-dcard>
      <app-three-dcard>
        <div front>
            <img src="/Cliker.png" alt="">
            <p>Cookie Coliker</p>
        </div>
      </app-three-dcard>
      <app-three-dcard>
        <div front>
            <img src="/E-Museum.png" alt="">
            <p>E-museum</p>
        </div>
      </app-three-dcard>
</div>
  