<div class="AboutContainer">
    <div class="card">
        <h2>About</h2>
        <div class="container">
            <div class="description">
                <p>Développeur web de 20 ans, passionné par la création de sites modernes et fonctionnels. Après un Bac+2 incluant une année en MMi et deux ans à l’école de programmation La Plateforme à Toulon, j’ai acquis des compétences solides en développement front-end et back-end. Curieux et rigoureux, je suis toujours à la recherche de nouveaux défis pour concevoir des solutions web performantes et sur mesure.</p>
            </div>
            <div class="image">
                <img src="/userIMG.jpg" alt="">
            </div>
        </div>
    </div>
</div>